<tbody>
    <tr>
        <td style="padding: 20px">
            <table style="border:0; width: 100%; border-collapse: collapse;">
                <tr>
                    <td style="padding: 20px 0;">
                        <h1 style="margin:0px; font-size:48px; font-weight: normal; color:#7030a0; text-align: center;">
                            ScaledSkills
                        </h1>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0 0 20px 0">
                        <p style="margin:0px; color:#666666; font-size: 18px; text-align: center;">
                            We received a request to reset password with the email
                            <a href="javascript:void(0)" style="text-decoration: none; color: #7030a0;">
                                {Email}
                            </a>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding: 10px 0">
                        <a href="{CallbackUrl}"
                           style="display: inline-block; color:#fff; font-size: 20px; font-weight: normal; text-align: center; line-height: 40px; padding: 6px 20px; text-decoration: none; background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%); border-radius: 4px;">RESET PASSWORD</a>
                    </td>
                </tr>
                <tr>
                    <td style="padding:15px 0;">
                        <p style="margin:0px; color:#666666; font-size: 18px; text-align: center;">
                            If you did not request to reset password, you can ignore this email.
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</tbody>