﻿<tr>
    <td style="color:#444; font-size: 16px; text-align: left;"><strong>{TicketName}</strong></td>
    <td style="color:#444; font-size: 16px; text-align: left;">{TicketType}</td>
    <td style="color:#444; font-size: 16px; text-align: left;">INR {Price}</td>
</tr>
