﻿ <tbody>
      <tr>
        <td
          style="padding: 0px 20px; text-align: center; background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%); border-radius: 4px; color:#fff; border-bottom: 0px white solid;">
            <h2 style="text-align: center;">Your Receipt for {TrainingName}.</h2>
        </td>
      </tr>
      <tr>
        <td style="padding: 20px">
          <table style="border:0; width: 100%; border-collapse: collapse;">
            <tr>
              <td style="padding:15px 0;">
                <p style="margin:3px 0 6px 0; color:#000; font-size: 18px; text-align: left;">
                    <strong>
                        Hi {FirstName},</strong>
                </p>
                <p style="margin:3px 0; color:#444; font-size: 18px; text-align: left;">
                    Thank you for purchasing {Qty} ticket (s) for <a href="{TrainingUrl}" target="_blank" style="text-decoration: none; color: blue; font-size: 18px">{TrainingName}.</a>.
                </p>
                <p style="margin:30px 0 3px 0; color:#444; font-size: 18px; text-align: left;">
                  Your registration details are as follows:
                </p>
                <p style="margin:3px 0; color:#444; font-size: 16px; text-align: left;">
                    Booking Id : {OrderId}
                </p>
                <p style="margin:3px 0; color:#444; font-size: 16px; text-align: left;">
                    Booking Date : {BookingDate}
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <table style="width: 100%; max-width: 700px; margin: 0px auto; border:0; background: #fff">
                  <tbody>
                    <tr>
                      <th style="color:#000; font-size: 16px; text-align: left;">Ticket Name</th>
                      <th style="color:#000; font-size: 16px; text-align: left;">Ticket Type</th>
                      <th style="color:#000; font-size: 16px; text-align: left;">Price</th>
                    </tr>
                    {TicketList}
                  </tbody>
                  <tfoot>
                    <tr style="display:{IsOnlinePayment}">
                      <td colspan="100" style="padding:15px 0 0 0;">
                        <p style="margin:3px 0; color:#000; font-size: 18px; text-align: left; font-weight: normal;">
                          <strong>Grand Total :</strong>
                        </p>
                        <p style="margin:3px 0; color:#444; font-size: 18px; text-align: left; font-weight: normal;">{GrandTotal}</p>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </td>
            </tr>
            <tr>
              <td style="padding:15px 0 0 0;">
                <p style="margin:3px 0; color:#000; font-size: 18px; text-align: left; font-weight: normal;">
                  <strong>Training Details :</strong>
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <table style="width: 100%; max-width: 700px; margin: 0px auto; border:0; background: #fff">
                  <tbody>
                    <tr>
                      <td
                        style="color:#000; font-size: 16px; text-align: left; vertical-align: top; white-space: nowrap;">
                        Organizer : </td>
                      <td style="color:#444; font-size: 16px; text-align: left; vertical-align: top;">{OrganizerName}</td>
                    </tr>
                    <tr>
                      <td
                        style="color:#000; font-size: 16px; text-align: left; vertical-align: top; white-space: nowrap;">
                        Organizer Contact : </td>
                      <td style="color:#444; font-size: 16px; text-align: left; vertical-align: top;">{OrganizerContact}</td>
                    </tr>
                    <tr>
                      <td
                        style="color:#000; font-size: 16px; text-align: left; vertical-align: top; white-space: nowrap;">
                        Date : </td>
                      <td style="color:#444; font-size: 16px; text-align: left; vertical-align: top;">{TrainingDate}</td>
                    </tr>
                    <tr>
                      <td
                        style="color:#000; font-size: 16px; text-align: left; vertical-align: top; white-space: nowrap;">
                        Venue :</td>
                      <td style="color:#444; font-size: 16px; text-align: left; vertical-align: top;"><a href="{VenueUrl}" style="text-decoration: none; color: blue; font-size: 18px">{Venue}</a></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="padding:15px 0 0 0;">
                <p style="margin:3px 0; color:#000; font-size: 18px; text-align: left; font-weight: normal;">
                  <strong>Attendee Details :</strong>
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <table
                  style="width: 100%; max-width: 700px; margin: 0px auto; border:0; background: #fff; border-collapse: collapse;">
                  <tbody>
                    <tr>
                      <th
                        style="padding:5px; border:1px black solid; color:#000; font-size: 16px; text-align: left; vertical-align: top; white-space: nowrap;">
                        First Name</th>
                      <th
                        style="padding:5px; border:1px black solid; color:#000; font-size: 16px; text-align: left; vertical-align: top; white-space: nowrap;">
                        Last Name</th>
                      <th
                        style="padding:5px; border:1px black solid; color:#000; font-size: 16px; text-align: right; vertical-align: top; white-space: nowrap;">
                        Email</th>
                      <th
                        style="padding:5px; border:1px black solid; color:#000; font-size: 16px; text-align: right; vertical-align: top; white-space: nowrap;">
                        Contact</th>
                    </tr>
                    <tr>
                        <td style="padding:5px; border:1px black solid; color:#444; font-size: 16px; text-align: left; vertical-align: top;">
                            {FirstName}
                        </td>
                        <td style="padding:5px; border:1px black solid; color:#444; font-size: 16px; text-align: left; vertical-align: top;">
                            {LastName}
                        </td>
                        <td style="padding:5px; border:1px black solid; color:#000; font-size: 16px; text-align: right; vertical-align: top;">
                            {AEmail}
                        </td>
                        <td style="padding:5px; border:1px black solid; color:#000; font-size: 16px; text-align: right; vertical-align: top;">
                            {AContact}
                        </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="padding:15px 0 0 0;">
                <p style="margin:3px 0; color:#000; font-size: 18px; text-align: left; font-weight: normal;">
                  <strong>Message to Attendee:</strong>
                </p>
                <p style="margin:3px 0; color:#444; font-size: 16px; text-align: left; font-weight: normal;">
                    {MessageToAttendee}
                </p>
              </td>
            </tr>
            <tr>
                <td style="padding:15px 0;">
                    <p style="margin:3px 0; color:#000; font-size: 18px; text-align: left; font-weight: normal;">
                        <strong>Need any help?</strong>
                    </p>
                    <p style="margin:3px 0; color:#444; font-size: 18px; text-align: left; white-space: nowrap;">
                        GISIN : 07APJPJ2150A1ZH
                    </p>
                    <p style="margin:3px 0; color:#444; font-size: 18px; text-align: left; font-weight: normal;">
                        Write us at
                        <a href="mailto: {Email}" style="text-decoration: none; color: blue; font-size: 18px;">
                            {Email}
                        </a>.
                        We will get back to you shortly!
                    </p>
                </td>
            </tr>
          </table>
        </td>
      </tr>
    </tbody>
